
body{
    font-family: 'Poppins', sans-serif;
}
    
.orange-color{
    color:orange;
    
}
.h1{
    font-size:50px;
}
.h2{
    font-size:50px;
    padding-bottom:10px;
}
section{
    display: flex;
}
.half-width2{
    width:50%;
    padding:5%;
    
}
.half-width2 img{
    width:120%;
    
}
.link-button{
    text-decoration:none;
    padding:10px 40px;
    background-image: linear-gradient(orange,tomato);
    color:#fff;
    font-weight:700;
    border-radius:9px;
   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
    padding-bottom:100px;
}
*{
    margin:0;
   
}
.left-content{
    padding-left:40px;
    padding-top:40px;
 
}
.paragrap1{
    padding-bottom:25px;
    padding-top:10px;
}
.experience-area{
    display:flex;
}
.left-width3{
    width:60%;

}
.left-width3 img{
    width:50%;
    padding-left:200px;
}
.right-content{
    width:40%;
    padding-right:100px;
}
.rc-h1{
    font-weight:700px;
    font-size:45px;
    padding-bottom:5px;
}
.rc-h2{
    font-size:20px;
    padding-bottom: 5px;
}
.paragrap2{
    padding-top:7px;
    padding-right:5px;
    padding-bottom:20px;
}
.experience-area{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position:right;
}
.link-button2{
    text-decoration:none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    padding:10px 40px;
    border-radius:9px;
    color:white;
    font-weight:700;
    
}